{% extends "base.html" %}

{% block script %}

<script>
$(function(){
    document.getElementById("id_email").keyup(function () {
    var email = document.getElementById("id_email").value;
    if (email.indexOf("@ikasle.ehu.eus") > -1) {
        document.getElementById("formAlumno").setAttribute("class", "show");
        document.getElementById("tipoformulario").setAttribute("value", "alumno");
        document.getElementById("formProfesor").setAttribute("class", "hide");
        return 0;
    }
    else if(email.indexOf("@ehu.eus") > -1) {
        document.getElementById("formProfesor").setAttribute("class", "show");
        document.getElementById("tipoformulario").setAttribute("value", "profesor");
        document.getElementById("formAlumno").setAttribute("class", "hide");
        return 0;
    }
    else{
        document.getElementById("tipoformulario").setAttribute("value", "not_valid");
        document.getElementById("formAlumno").setAttribute("class", "hide");
        document.getElementById("formProfesor").setAttribute("class", "hide");
        return 1;
    }
    });
});
</script>
<script>
$(function(){
    document.getElementById("id_grado").keyup(function () {
        var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( document.getElementById("id_grado") ).autocomplete({
        source: function(request, response) {
            var results = $.ui.autocomplete.filter(availableTags, request.term);
        response(results.slice(0, 5));
        }
    });
  });
});
</script>
{% endblock %}

{% block content %}

<div class="row"></div>
<h6 class="left-align">Todos los campos son obligatorios</h6>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="tipo" value="not_valid" id="tipoformulario">
    {{user_form.as_p}}
    <div class="" id="grado">
        <label class="active left" for="id_grado">Grado(debe seleccionarlo de la lista):</label>
        <input id="id_grado" type="text" class="ui-widget" name="grado">
    </div>
    <div class="hide" id="formAlumno">
        <h3>Registro Alumno</h3>
        {{alumno_form.as_p}}
    </div>
    <div class="hide" id="formProfesor">
        <h3>Registro Profesor</h3>
        {{profesor_form.as_p}}
    </div>
    <div class="row col s3 center-align">
    <button type="submit" class="waves-effect waves-light btn-large u-full-width">Registrarse</button>
    </div>
  </form>
{% endblock %}
