{% extends "base.html" %}
{% block page_title %}
Crear calendario
{% endblock %}
{% block script %}
<script>
  $(function() {
    $( ".datepicker" ).pickadate({dateFormat: '%Y-%m-%d', 
      selectMonths: true,
      selectYears: 5});
  });
</script>
{% endblock %}

{% block content %}
<div class="container center-align">
<div class="row"></div>

<div class="row">
  <form class="col s12" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{errors}}
  {{course_form.as_p}}
  <div class="row"></div>
<button id="create" class="btn waves-effect waves-light">Generar calendario</button>
  </form>
<a download="calendario.ics" id="downloadlink" style="display: none">Download</a>
<span class="loading style-3 hidden"></span>  
  </div>
  </div>
</div>

{% endblock %}